.right-part {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 60px;
    background: linear-gradient(to bottom right, #ff6a00, #ff2e63);
    color: white;
}
.left-part {
    flex: 1;
    display: flex;
    margin: 0px auto;
    padding: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup-wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;

}
.signup-wrapper h1{
    text-align: center;
    font-size: 2.5rem;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;     
  margin-top: -10px;     
  margin-bottom:20px ;    
}

.icons img {
  width: 35px;        
  height: 35px;       
  border-radius: 50%; 
  object-fit: cover;  
  cursor: pointer;
  transition: transform 0.2s ease;
}

.icons img:hover {
  transform: scale(1.1); 
}

.form-ctn Input{
   width: 100%;
   margin-top: 10px;
    outline: unset;
    border: none;
}
.form-ctn Input:hover{
     border-bottom: 1px solid #000;
}

.checkbox {
  display: flex;
  align-items: center;  
  gap: 8px;            
  margin-top: 15px;
  font-size: 14px;
}

.checkbox input {
  width: 16px;
  height: 16px;
   position: relative;
  top: -3px;  
  cursor: pointer;
}

.checkbox label {
  cursor: pointer;
}

.checkbox a {
  color: #007bff;
  text-decoration: none;
}

.checkbox a:hover {
  text-decoration: underline;
}


.form-ctn Button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
.form-ctn a
.form-ctn p{
    text-decoration: none;
    gap:10px;
    text-align: center;
}
.form-ctn a:hover{
    text-decoration: underline;
}