    /* html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden; 
    }
 */

.login-wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}


.left-part {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 60px;
}


.h-tag {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.right-part {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 60px;
    background: linear-gradient(to bottom right, #ff6a00, #ff2e63);
    color: white;
}


.login-ctn input {
    width: 100%;
    padding: 10px 10px;
    outline: unset;
    border: none;
}

.login-ctn input:hover {
    border-bottom: 1px solid #000;
}


.login-ctn Button {
    display: flex;
    margin-top: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: black;
}


.login-ctn a {
    text-decoration: none;
}

.login-ctn a:hover {
    text-decoration: underline;
}
